body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

canvas {
  display: block;
}

/* Tombol umum */
button {
  position: absolute;
  padding: 15px 20px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  opacity: 0.8;
  color: white;
  font-size: 16px;
  z-index: 10;
}

/* Posisi tombol */
#shootBtn { bottom: 20px; right: 20px; background: darkred; }
#scopeBtn { bottom: 100px; right: 20px; background: darkgreen; }
#runBtn { bottom: 20px; left: 20px; background: darkblue; }
#jumpBtn { bottom: 100px; left: 20px; background: orange; }
