body {
    margin: 0;
    overflow: hidden;
    background: #222;
}

canvas {
    display: block;
    margin: 0 auto;
    cursor: none;     /* hide cursor untuk sniper */
}

#zoomLevel {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    font-family: Arial;
}

