body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

canvas {
  display: block;
}

#shootBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 15px 25px;
  background: darkred;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  opacity: 0.8;
  z-index: 10;
}
