
body { margin: 0; overflow: hidden; }
canvas { display: block; }

/* Tombol shoot di pojok bawah */
#shootBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 15px 25px;
    background: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    opacity: 0.7;
}
